h1,h2,h3,h4,h5,h6{
	margin:0;
}
	
.list h5{
	margin: 0;
}

.img-fluid{
	max-width: 100%;
	display: block;
}
.card.menu{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	}
.pp{
	width: 40px;
}

.img perfil{
	width: 4px;
}

.item-title{
	color: black;
	font-size: 14px;
	color: purple;
}

.item-subtitle{
	color:black;
	font-size: 12px;
}

.card-content{
	padding-bottom: 3px;
	padding-bottom: 3px;
}

.menu .card-content{
	padding: 5px 0; 
}
.menu h4{
	margin: 0;
	font-size: 20px;
}
.contentQS1 i{
	float: left;
}

.contentQS2 i{
	float: right;
}

.contentQS3 i{
	float: left;
}

.page-content{
	background-color: #fff;
	color: #FFFFFF;
}
.titles{
	text-align: center;
	padding-top: 10px;
}
.tt{
	text-align: center;
	padding-top: 10px;
}
.material-icons{
	color: purple;
}
